:root {
    --color-primary: #ff6e40;
    --color-back-light: #ECEFF1;
    --color-back-dark: #37474f;
    --spacer-base: 1em;
    --card-font-size: 90%;
    --header-font-size: 32px;
    --header-height: 8em;
}
body {
    font-family:   Roboto, Arial, sans-serif;
    font-size: 1em;
    background-color: var(--color-back-light);
}
header {
   padding: 0 var(--spacer-base);
   background-color: var(--color-back-dark);
   height: var(--header-height);

}
header h1 {
    margin: 0;   
    font-size: var(--header-font-size);
    color: white;
}
header h1 span {
    color: var(--color-primary);
}
figure {
    margin: 0;
    padding: 0;
}
button {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}
.card {
	background: white;
	margin-bottom: 2em;	
    padding: 0;
   
}
.card-content p {
	padding: 0.5em 1.4em 0 1.4em;
	font-size: var(--card-font-size);   
}
.card-actions {
	padding: 0.5em 1.4em;
	font-size: var(--card-font-size);      
}



/* add your styles here */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    width: 24%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

img{
    max-width: 100%;
}

img:hover{
    filter: saturate(150%);
}

.card:hover{
    box-shadow: 5px 5px 5px gray;
  
}

.card:hover .card-actions button{
    opacity: 1;
  
}

.card-actions button{
    opacity: 0;
    transition: opacity 0.3s ease-out;
    
}


@media (max-width: 768px) {
    :root{
        --card-font-size: 100%;
        --header-height: 5em;
    }
    .card{
        width: 45%;
    }
}

@media (max-width: 480px) {
    :root{
        --header-font-size: 24px;
        --header-height: 4em;
        

    }
    .card{
        width: 100%;
    }
}



/* styles for mobile protrait screen */


/* styles for tablet portrait and mobile landscape screens */
