
* {
   box-sizing: border-box; 
   list-style-type: none;
}
body, section, header, div, p, h1, h2, h3, ul, li {
   margin: 0;
   padding: 0;
}
body {
   font-family: 'Open Sans', sans-serif;
   box-sizing: border-box;
   background-color: #e4e7eb;
   font-weight: 300;
}
header {
   margin-left: 20px;
}
h1 { 
   text-align: center;
   font-weight: 600;
   font-size: 42px;
   padding: 10px 0;
}

/* add styles here */

body{
   padding: 40px;
   background-color: rgb(235, 235, 235);
}
section{
   width: 910px;
   text-align: center;
   display: inline-block;
   box-shadow: 0px 0px 5px 2px rgb(87, 87, 87);
   padding-left: 100;
}

div.column{
   display: inline-block;
   list-style-type: none;
   background-color: white;
   width: 300px;
   /* font-weights: 800,600,400,300
font-sizes: 36px,24px,18px */
}

div.featured{
   background-color: #2F4F4F;
   color: white;
}

p.price{
   font-weight: 800;
   font-size: 36px;
   padding-bottom: 20px;
   padding-top: 20px;
}

p.price span{
   font-weight: normal;
   font-size: 18px;
}

div.column span{
   font-weight: 600;
}
div.column ul{
   font-size: 18px;
}
h3{
   font-size: 24px;
   padding: 25px 0px;
}

.column a{
   background-color: #3A6BA5;
   text-decoration: none;
   display: inline-block;
   width: 90%;
   color: white;
   padding: 10px;
   margin: 15px;
   margin-bottom: 25px;
   margin-top: 45px;
   
}
a:hover{
   background-color: #437CBF;
}

.free{
   background-color: #5BB189;
}

.standard{
   background-color: #4B0082;
}

.professional{
   background-color: #EC632A;
}

.column li:nth-child(even){
   background-color: rgba(47,59,64,0.35);
}

.column li{
   padding: 15px;
}

#confidence{
   margin-top: 20px;
   background-color: #2F4F4F;
   padding: 30px;
   color: white;
}

#confidence li{
   background-image: url("checkmark.svg");
   background-size: 24px;
   background-repeat:no-repeat;
   padding-left: 30px;
   margin-top: 20px;
}

#confidence a{
   color: rgb(8, 238, 238);
   text-decoration: none;
   font-style: italic;
   font-weight: bold;
}

#confidence h2{
   font-size: 36px;
}